* {
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.img-container {
  max-width: 400px;
}

.icon {
  max-width: 70px;
}

.align-center {
  align-items: center;
}

img {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 25%;
}

.bold {
  font-weight: 700;
}

.direction-col {
  flex-direction: column;
}

.flex {
  display: flex;
}
