* {
  box-sizing: border-box;
  font-family: 'Cutive', serif;
}

body {
  margin: 0;
  padding: 8px;
}

.input-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input,
button {
  font-family: sans-serif;
}

input {
  display: block;
  width: 100%;
  border: none;
  font-size: 3rem;
}

input::placeholder {
  text-align: center;
}

.container {
  max-width: 996px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  width: 100%;
}

.accuracy {
  display: none;
}

.replay {
  display: none;
  padding: 1rem 2rem;
  background-color: rgb(30, 194, 223);
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  text-align: center;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}

.submit-btn {
  padding: 1rem 2rem;
  background-color: rgb(30, 194, 223);
  color: rgb(51, 50, 50);
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  text-align: center;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}

.submit-btn:hover,
.replay:hover {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 2rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  white-space: pre;
}

span {
  padding: 6px 2px;
}

.current-letter {
  border-bottom: 3px solid black;
}

.green {
  color: rgb(0, 185, 0);
}

.red {
  color: red;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
