* {
  box-sizing: border-box;
  font-family: 'Avenir', sans-serif;
  line-height: 1.3;
}

.container {
  width: 100%;
  margin: 5rem 0;
}

.row {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-6th {
  flex-basis: calc(100% / 6);
}

.column-60 {
  flex-basis: 60%;
}

.column-40 {
  flex-basis: 40%;
}

.nav-item {
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 50px 4%;
  color: grey;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: grey;
  font-size: 1.5rem;
}

a.list-item {
  text-decoration: none;
}

a.list-item:visited {
  color: white;
}

a.logo {
  width: 100%;
}

.footer a {
  text-decoration: none;
}

.nav-bar > a:visited {
  color: gray;
}

div.footer a:visited {
  color: #6e6e6e;
}

.img-container {
  display: flex;
  width: 100%;
}

.circle-img-container {
  max-width: 240px;
  max-height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.circle-img-container > img {
  object-fit: contain;
  width: 100%;
}

.img-container > img {
  width: 100%;
}

.align-center {
  align-items: center;
}

.header {
  border-bottom: 1px solid lightgray;
}

#contact-button {
  background-color: #294363;
  border-radius: 5px;
  color: white;
  padding: 1rem 2rem;
}

.get-started {
  background-color: #294363;
  border-radius: 8px;
  color: white;
  padding: 2rem 4.5rem;
  text-decoration: none;
  margin: 30px;
}

.hero-text p {
  margin: 5rem 0;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-even {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.logo-size {
  width: 40%;
}

.flex {
  display: flex;
}

.hero-image {
  background-size: cover;
  background-position: center;
  min-height: 800px;
}

#index-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/hero.jpg");
}

#product-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/product/product-header.jpg");
}

#implementation-hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/implementation/implementation-header.jpg");
}

#about-hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/about-us/about-us-header.jpg");
}

.big-font {
  font-size: 1.7rem;
}

.large-font {
  font-size: 2.5rem;
}

.hero-text {
  padding: 3rem;
  padding-bottom: 4rem;
  margin: 0 4rem 4rem;
  width: 55%;
  font-size: 1.9rem;
}

.smaller-text {
  font-size: 1.6rem;
}

.paragraph-text {
  font-size: 1.3rem;
}

div.hero-text > h1,
div.hero-text > p {
  margin: 1rem;
}

.white-text {
  color: white;
}

.blue-text {
  color: rgb(77, 113, 139);
}

.grey-text {
  color: rgb(80, 81, 79);
}

a#current-page {
  color: rgb(77, 113, 139);
}

.gray-text {
  color: #6e6e6e;
}

.thin-text {
  font-weight: 400;
}

.bold-text {
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: 100;
  font-size: 3rem;
}

.bold-sans {
  font-weight: 700;
}

.italics {
  font-style: italic;
  font-family: 'TiemposHeadline-LightItalic', serif;
}

.center-text {
  text-align: center;
}

.no-text-deco {
  text-decoration: none;
}

.top-padding {
  padding: 3rem 0;
}

.left-padding {
  padding: 0 0 0 3rem;
}

.left-margin {
  margin: 0 0 0 3rem;
}

.right-padding {
  padding: 0 3rem 0 0;
}

.right-margin {
  margin: 0 3rem 0 0;
}

.add-tb-margin {
  margin: 1rem 0;
}

.add-padding {
  padding: 1rem;
}

.clinicians {
  padding: 4rem 0 15rem;
  border-bottom: 1px solid lightgray;
}

div.clinicians {
  margin-bottom: 0;
  font-size: 1.3rem;
}

.relative {
  position: relative;
}

h3.relative {
  bottom: 30px;
  margin-bottom: 5rem;
}

.info-section {
  background-color: rgb(82, 83, 81);
  color: white;
  padding: 10rem 0;
}

.light-background {
  background-color: rgb(250, 250, 250);
}

ul.list {
  list-style-type: none;
}

li {
  margin: 30px 0;
}

.no-margin {
  margin: 0;
}

.footer {
  padding: 0;
  font-size: 1.8rem;
}

.line-space {
  line-height: 1.7;
}

.implementation-sub-header {
  position: relative;
  left: 10px;
}

#implementation-container {
  margin: 3rem 0;
  padding: 3rem 0;
}

h1.our-team-text {
  font-size: 2rem;
}

.top-border {
  border-top: 1px solid lightgrey;
}

input.email-text-box {
  display: block;
  border: none;
  border-bottom: 1px solid grey;
  width: 600px;
  height: 60px;
  margin: 0 auto;
  margin-top: 0;
}

.email-text-box::placeholder {
  text-align: center;
  font-size: 2rem;
  color: lightgrey;
}

.email-text-box:focus {
  font-size: 2rem;
  color: grey;
}

#blog-header {
  margin-bottom: 0;
}

#email-container {
  margin: 1rem 0;
}

button.sub-button {
  background-color: #294363;
  border-radius: 5px;
  color: white;
  padding: 1rem 3rem;
  text-decoration: none;
  margin: 30px;
  border: none;
  text-align: center;
}

div#blog-header p {
  position: relative;
  bottom: 20px;
}

.blog-image {
  width: 100%;
  height: 400px;
}

.blog-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-title {
  font-size: 2.6rem;
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: 100;
  margin: 1rem 0;
}
