body {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
}

p {
  line-height: 1.4rem;
}
